* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "Gilroy-Bold ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold ☞"), url("Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Heavy ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Heavy ☞"), url("Gilroy-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Light ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Light ☞"), url("Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Medium ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Medium ☞"), url("Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Regular ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Regular ☞"), url("Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-Heavy.eot");
  src: local("HelveticaNeueCyr-Heavy"),
    url("HelveticaNeueCyr-Heavy.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-Heavy.woff") format("woff"),
    url("HelveticaNeueCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Monsterratbold";
  src: url(./fonts/Montserrat-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monsterratregular";
  src: url(./fonts/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monsterratsemibold";
  src: url(./fonts/Montserrat-SemiBold.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Monsterratbold", serif;
  background-color: #252237;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 18px;
  padding-top: 50px;
}

@media (min-width: 780px) {
  .container {
    padding: 0 50px;
  }
}

.header {
  background-image: url(./images/fon1.svg);
  width: 1445px;
  height: 710px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
}

.logo {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 113%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 54px;
}

.header__banner {
  margin-left: 150px;
  margin-top: 90px;
  max-width: 433px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.header__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 93%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 31px;
  margin-top: 92px;
  font-family: "Monsterratbold";
}

.header__desc {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin-bottom: 51px;
  font-family: "Monsterratbold";
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.header__btn {
  border: none;
  font-family: var(--font3);
  font-weight: 900;
  font-size: 14px;
  line-height: 243%;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  width: 367px;
  height: 80px;
  box-shadow: 0 0 55px 0 rgba(202, 0, 80, 0.51);
  background: #e2521d;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us {
  max-width: 542px;
}

.about-title {
  font-family: "Gotham Pro";
  font-weight: 700;
  font-size: 50px;
  line-height: 124%;
  color: #fff;
  margin-bottom: 80px;
}

.about-desc {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  color: #e2521d;
  margin-bottom: 17px;
}

.about-description {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 25px;
  line-height: 189%;
  color: #8997ab;
}

.learn {
  align-items: center;
}

.learn-wrapper {
  margin: 0 auto;
  row-gap: 92px;
  display: grid;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.zagalovok {
  font-family: "Gotham Pro";
  font-weight: 700;
  font-size: 50px;
  line-height: 124%;
  color: #fff;
  text-align: center;
  margin-bottom: 88px;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  color: white;

  align-items: start;
  img {
    width: 85px;
  }
}

.circle-text {
  font-family: "Gotham pro";
  font-size: 18px;
  line-height: 189%;
  gap: 10px;
}

.prodramm-wrapper {
  margin: 0 auto;
  width: max-content;
}

.programm-title {
  font-family: "Gotham Pro";
  font-weight: 700;
  font-size: 50px;
  line-height: 124%;
  text-align: center;
  color: #fff;
  margin-bottom: 75px;
  margin-top: 115px;
}

.line-btn {
  border-radius: 2px;
  width: 100%;
  height: 100px;
  background: #e2521d;
  font-family: "Monsterratbold";
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px;
}

.line-about {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: #8997ab;
}

.text {
  padding: 0px;
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: #8997ab;
}

.line-btn2 {
  border-radius: 2px;
  width: 100%;
  height: 100px;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  font-family: "Monsterratbold";
  background: #0e1b28;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 50px;
}

.line-btn3 {
  border-radius: 2px;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  width: 100%;
  height: 100px;
  font-family: "Monsterratbold";
  background: #0e1b28;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px;
  text-transform: uppercase;
}

.for-what__wrapper {
  width: max-content;
  height: 710px;
}

.for-what__title {
  margin-top: 111px;
  font-family: "Gotham Pro";
  font-weight: 700;
  font-size: 50px;
  line-height: 124%;
  text-align: center;
  color: #fff;
}

.for-what__desc {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 30px;
  line-height: 175%;
  color: #e2521d;
  margin-left: 683px;
  margin-top: 164px;
  margin-bottom: 50px;
}

.for-what__description {
  font-family: "Gotham Pro";
  font-size: 18px;
  line-height: 189%;
  color: #8997ab;
  margin-left: 686px;
}

.for-what__icon {
  width: 1363px;
  height: 710px;
  margin-bottom: 500px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.how-course-wrapper {
  margin: 0 auto;
  row-gap: 92px;
  display: grid;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 43px;
}

.title {
  font-family: "Gotham Pro";
  font-weight: 700;
  font-size: 50px;
  line-height: 124%;
  color: #fff;
  text-align: center;
  margin-bottom: 43px;
}

.how-course-icon {
  margin-bottom: 33px;
}

.how-course-title {
  font-family: "Gotham Pro";
  font-weight: 700;
  font-size: 23px;
  color: #fff;
  margin-bottom: 30px;
}

.how-course-desc {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: #8997ab;
  margin-bottom: 62px;
}


